{% load socialaccount %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Google OAuth</title>
  </head>
<body>
<h3>My Google OAuth Project </h3>
{% if user.is_authenticated %}
<h4><a href="{% url 'logout' %}">Logout</a></h4>
<p>Welcome, You are logged in as {{ user.username }}</p>
<p>
<table border="1px" class="table table-success table-striped">
    <thead>
    <tr>
        <th>UID</th>
        <th>Date Joined</th>
        <th>Last Login</th>
        <th>Full Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.socialaccount_set.all.0.uid }}</td>
        <td>{{ user.socialaccount_set.all.0.date_joined}}</td>
        <td>{{ user.socialaccount_set.all.0.last_login}}</td>
        <td>{{ user.socialaccount_set.all.0.extra_data.name }}</td>
    </tr>
    </tbody>
</table>

{% else %}
<a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}

</body>
</html>